@import "./base/loader.css";
@import "./base/variables.css";
@import "./base/typography.css";

@import "./layout/header.css";
@import "./layout/footer.css";

@import "./components/animations.css";
@import "./components/buttons.css";
@import "./components/cards.css";

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}